<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MainTestSuite">
    <test name="com.avikghosh.MainTest" preserve-order="true" >
        <classes>
            <class name="com.avikghosh.MainTest">
                <methods>
                    <include name="appiumDemoTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>